doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title ToDo
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src="/js/main.js")
  body
    form(action='/', method='post')
     
      | Tarea a realizar:  
      input(type='text', name='task', placeholder='Añade una tarea')
      br
      button(type='submit',id='add') Añadir
      h1= title
      ul
        each task, index in tasks
          li= task.task